@import "tailwindcss";

@theme {
  --color-primary: #6CD468;
  --color-primary-hover: #59C955;

  --color-background: #0B1120;
  --color-card: #111827;
  --color-surface: #1E293B;

  --color-border: #374151;

  --color-text: #F9FAFB;
  --color-text-secondary: #94A3B8;

  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(
    180deg,
    #0B1120,
    #101827,
    #0B1120
  );
  font-family: Inter, sans-serif;
}